@font-face {
    font-family: 'Bad Script';
    font-weight: 400;
    font-display: swap;
    src:
        url(../fonts/bad-script-v16-latin_cyrillic-regular.woff2) format('woff2'),
        url(../fonts/bad-script-v16-latin_cyrillic-regular.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-display: swap;
    src:
        url(../fonts/open-sans-v29-latin_cyrillic-regular.woff2) format('woff2'),
        url(../fonts/open-sans-v29-latin_cyrillic-regular.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-display: swap;
    src:
        url(../fonts/open-sans-v29-latin_cyrillic-700.woff2) format('woff2'),
        url(../fonts/open-sans-v29-latin_cyrillic-700.woff) format('woff');
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.women {
    background-color: #fff1f8;
}

.men {
    background-color: #eff9fe;
}

button {
    cursor: pointer;
}

figure {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: relative;
    z-index: 1;
    padding: 28px 0;
    background: #ffffff;
    box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__button-change {
    width: 300px;
    height: 65px;
    border-radius: 30px;
    border: 1px solid transparent;
    color: #ffffff;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    margin-right: 30px;
    white-space: nowrap;
}

.header__button-change:hover,
.header__button-change:active {
    transition: background-color 0.5s ease-in-out;
}

.women .header__button-change {
    background-color: #c300c7;
}

.women .header__button-change:hover {
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    border-color: #3f0341;
}

.women .header__button-change:focus {
    background-color: #88168a;
}

.women .header__button-change:active {
    background-image: none;
    background-color: #3f0341;
}

.men .header__button-change {
    background-color: #1178b2;
}

.men .header__button-change:hover {
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
    border-color: #06112e;
}

.men .header__button-change:focus {
    background-color: #304272;
}

.men .header__button-change:active {
    background-image: none;
    background-color: #06112e;
}

.header__button-change:last-child {
    margin-right: 0;
}

.header__button-gender {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px;
    margin-right: 20px;
    background-color: #ffffff;
}

.header__button-gender {
    justify-content: right;
    transition: background-color 0.5s ease-in-out;
}

.header__button-gender:last-child {
    margin-right: 0;
}

.header__button-gender_men {
    background-image: url('../image/men.svg');
}

.men .header__button-gender_men {
    border-color: #1178b2;
}

.header__button-gender_women {
    /*border: 1px solid #c300c7;*/
    background-image: url('../image/women.svg');
}

.women .header__button-gender_women {
    border-color: #c300c7;
}

.header__button-gender:hover {
    border-color: #7724ad;
    background-color: #ddc0f5;
}

.header__button-gender:focus {
    border-color: #101885;
    background-color: #d3c0f1;
}

.men .header__button-gender:active {
    border-color: #1178b2;
    background-color: #a3a3f1;
}

.women .header__button-gender:active {
    border-color: #c300c7;
    background-color: #f790b8;
}

.card {
    flex-grow: 1;
    padding: 32px 0 15px;
    display: flex;
    align-items: center;
}

.card__container {
    display: flex;
}

.card__wrapper {
    margin: auto;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 50px rgba(96, 4, 50, 0.23);
    font-size: 3px;
}

.card__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: max(3em, min(6em, calc(100vw * 3 / 140)));
    line-height: 1.7;
}

.women .card__text {
    font-family: 'Bad Script';
    font-weight: 400;
}

.men .card__text {
    font-family: 'Open Sans';
    font-weight: 700;
}

.footer {
    padding: 17px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__copyrights {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    gap: 8px;
}

.footer__copyrights p {
    margin: 0;
    padding: 0;
}

.footer__social {
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer__social a svg {
    fill: #5273c8;
}

.men .footer__social a svg {
    fill: #1178b2;
}

.women .footer__social a svg {
    fill: #c300c7;
}

.footer__social a:hover svg,
.footer__social a:active svg {
    transition: fill 0.5s ease-in-out;
}

.men .footer__social a:hover svg,
.men .footer__social a:focus svg {
    fill: #304272;
}

.men .footer__social a:active svg {
    fill: #06112e;
}

.women .footer__social a:hover svg,
.women .footer__social a:focus svg {
    fill: #88168a;
}

.women .footer__social a:active svg {
    fill: #3f0341;
}

.footer__social a {
    text-decoration: none;
}

@media (max-width: 880px) {
    .container {
        padding: 0 10px;
    }

    .header__button-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .header__button-change {
        margin-right: 0;
        max-width: min(220px, calc(100vw / 3));
        height: 45px;
        font-size: 14px;
    }

    .header__button-gender {
        width: 40px;
        height: 40px;
        background-size: 30px;
        margin-right: 0;
    }

    .footer__copyrights {
        font-size: 12px;
        line-height: 16.5px;
    }

    .footer__social a svg {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 620px) {
    .header__button-change {
        min-width: 170px;
        max-width: calc(100vw / 3);
        font-size: 12px;
        margin: 0;
    }

    .footer__copyrights {
        font-size: 12px;
        line-height: 16.5px;
    }

    .footer__social a svg {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 320px) {
    .header__button-change {
        margin: 0;
    }

    .card__text {
        line-height: 1.1;
        min-width: 50%;
        max-width: 80%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
    }

    .footer__container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .footer__copyrights {
        font-size: 10px;
        line-height: 12.5px;
        order: 1;
    }

    .footer__social {
        gap: 10px;
        align-items: center;
    }
}